* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    background-color: rgb(30,30,40);
}
.blocker {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
}

.age-verification-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.age-verification {
    width: 35rem;
    height: 45rem;;
    border-radius: 20px;
    background-color: rgb(30,30,30);
    border: 5px white solid;
    display: flex;
    justify-content: center;
}
.age-verification h1 {
    color: white;
    font-size: 4rem;
    font-weight: 900;
    margin-top: 2rem;
    position: relative;
}





.nav-bar {
    width: 100%;
    height: 4rem;
    background-color: rgb(30,30,40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.nav-bar-home img {
    width: 50px;
    height: 50px;
    filter: invert(1);
    margin-left: 2.5rem;
    margin-top: 0.1rem;
}
.nav-bar-left, .nav-bar-right {
    display: flex;
    align-items: center;
}
.nav-bar-search {
    width: 25rem;
    height: 2em;
    background-color: rgba(255,255,255,0.2);
    margin-left: 1rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    border: 2.5px solid transparent;
}
.nav-bar-search img {
    width: 15px;
    height: 15px;
    margin-left: 0.5rem;
    filter: invert(0.85);
    pointer-events: none;
}
.nav-bar-search span {
    height: 15px;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-weight: 750;
    filter: invert(0.85);
    pointer-events: none; 
}
.nav-bar-right a {
    width: 8rem;
    height: 2rem;
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    font-weight: 690;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
    transition: all 0.15s ease;
}
.nav-bar-right a:nth-child(1) {
    background-color: rgba(86, 227, 255, 0.2);
    border: 1px white solid;
}
.nav-bar-right a:hover, .welcome-section-greeting a:hover {
    border: 2.5px white solid;
    color: black;
    background-color: white;
    text-shadow: 0px 0px 10px white;
}



.welcome-section {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.welcome-section-background { 
    width: inherit;
    height: inherit;
    background-image: url(src/assets/4.jpeg);
    filter: blur(10px); 
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.welcome-section-greeting {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome-section-logo {
    width: 250px;
    height: 250px;
    filter: invert(1);
    margin-bottom: 6.9rem;
}
.welcome-section-text {
    color: white;
    text-transform: uppercase;
    font-weight: 690;
    font-size: 3rem;
}
.welcome-section-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-section-greeting a{
    background-color: rgba(0,0,0,1);
    border: 2.5px black solid;
    width: 8rem;
    height: 2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease;
}
.welcome-section-greeting a:nth-child(1) {
    margin-right: 1rem;
}



.origin-section {
    width: 100%;
    height: 85vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
}
.origin-section h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5rem;
    margin-top: 5rem;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.25);
}



#info-section {
    width: 100%;
    height: 85vh;
}
.info-section-background {
    width: 100%;
    height: inherit;
    background-image: url(./assets/5.png);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
}